{% extends 'career_advisor/base.html' %}
{% block title %}About{% endblock %}
{% block content %}
<h1>About AI Career Advisor</h11>
<h2>This AI Career Advisor suggests roles from your skills or resume.</h2>
<p>Our platform leverages artificial intelligence to help you discover the best career paths based on your skills, experience, and resume. Whether you’re a fresh graduate, a professional looking to switch roles, or someone exploring new opportunities, our system provides personalized recommendations tailored just for you.</p>
<h3>Key Features:</h3>
<p>Resume Analysis: Upload your resume, and our AI will extract key skills and suggest suitable roles.</p>
<p>Skill-Based Recommendations: Enter your skills, and get career paths aligned with your strengths.</p>
<p>Future Job Recommendations: Receive insights about emerging roles and industries that match your skills and career growth potential on uploaded email Id .</p>
<h4>Start shaping your future today — your next career move is just a click away!</h4>
{% endblock %}
